.header__fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.3s all linear;
  background: #fff;
  z-index: 999;
  -webkit-animation: slideInDown 0.6s forwards;
  animation: slideInDown 0.6s forwards;
  margin-top: 0;
  box-shadow: 0 3px 16px -2px #ebe8e8;
}
