.info-content-area{
	@media #{$md} {
        margin-top: 50px;
        
    }
	@media #{$xs} {
        margin-top: 50px;
        
    }
}


.info-content-area p.highlight {
	position: relative;
	padding-left: 25px;
	margin: 20px 0 0;
}

.info-content-area p.highlight:before {
	position: absolute;
	content: "";
	width: 15px;
	height: 15px;
	top: 5px;
	left: 0;
	background: #F35C27;
}


.about-img {
	position: relative;
	z-index: 1;
	max-width: calc(100% - 70px);
	@media #{$xs} {
		max-width: calc(100% - 0px);
	}
}

// About # 02

.about-key {
	overflow: hidden;
	li {
		margin-bottom: 16px;
		float: left;
		width: 50%;		
		@media #{$xs} {
			width: 100%;
		}
		i {
			position: relative;
			&:before {
				font-size: 30px;
				color: #F35C27;
				margin-right: 10px;
				position: absolute;
				top: -20px;
			}
		}
	}
	p {
		display: inline-block;
		font-size: 18px;
		font-weight: 500;
		color: #262B3E;
		position: relative;
		padding-left: 35px;
		margin: 0;
	}
}

.about-content-area{
	@media #{$md} {
        margin-top: 50px;
    }
	@media #{$xs} {
        margin-top: 50px;
    }
}

.about-content-area .main-btn {
	margin: 35px 0;
}

.call-us .icon i {
	font-size: 25px;
	margin-top: 0;
	margin-right: 24px;
	margin-left: -12px;
	display: inline-block;
	color: #fff;
	background: #10102D;
	padding: 16px;
	border-radius: 50%;
}

.mobile-number p {
	color: #232323;
	font-size: 18px;
	font-weight: 500;
}

.mobile-number h5 {
	color: #898989;
	font-size: 18px;
	margin-bottom: 3px;
}

.founded-year {
	position: absolute;
	bottom: 0;
	left: 0;
	@media #{$xs} {
        right: 0;
		left: auto;
    }
	i {
		background: #F35C27;
		color: #fff;
		width: 220px;
		height: 100px;
		text-align: center;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		padding: 6px;
		&:before {
			font-size: 45px;
			line-height: 60px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

.info-img{
	position: relative;
	z-index: 1;
}

/* About Section # 02
============== */

#about-3.about-area {
    border-top: 1px solid #eee;
}

.single-bar-item h4 {
	color: #002C42;
	font-size: 18px;
	margin-bottom: 10px;
}

.progress-bar-area {
	margin-top: 40px;
}

.barfiller .fill {
	background: #F35C27 !important;
}

#about-3 .choose-certify {
	text-align: center;
}

#about-3 .choose-certify i {
	position: relative;
}

#about-3 .choose-certify i:after {
	position: absolute;
	content: " ";
	width: 60px;
	height: 60px;
	top: -7px;
	left: -30px;
	border-radius: 50%;
	background: #F35C27;
	z-index: 1;
	opacity: .4;
}

#about-3 .choose-certify h5 {
	font-size: 22px;
	margin: 20px 0;
	color: #002c42;
	padding-left: 0
}

#about-3 .choose-certify p {
	padding-left: 0;
}

.choose-certify i {
	font-size: 45px;
	color: #F35C27;
	position: absolute;
}

.choose-certify h5 {
	color: #fff;
	padding-left: 70px;
	margin-bottom: 15px;
}

.choose-certify p {
	padding-left: 70px;
}