.client-section {
    height: 200px;
    justify-content: space-evenly;
    border-bottom: 2px solid #ddd;
    @media #{$xs} {
        height: 400px;
        flex-direction: column;
    }

    .single-client-item {
        position: relative;
        &:after {
            position: absolute;
            content: "";
            top: 50%;
            right: -65px;
            width: 1px;
            height: 200px;
            background: #BECBCC;
            transform: translate(-50%, -50%);
            @media #{$md} {
                display: none;
            }
            @media #{$xs} {
                display: none;
            }
        }
    }
    
    
}

.single-client-item:nth-child(5)::after{
    display: none;
}



