html,
body {
	height: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

body {
	font-family:$outfit;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	position: relative;
	z-index: 1;
	background: #fff;
	overflow-x: hidden;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	position: relative;
	font-family: $outfit;
	font-weight: 400;
	margin: 0;
	color: $primary_color;
}

h1 {
	font-size: 110px;
	line-height: 110px;
	@media #{$xs} {
		font-size: 60px;
	}
}

h2 {
	font-size: 52px;
	@media #{$xs} {
		font-size: 40px;
	}
}

h3 {
	font-size: 30px;
	@media #{$xs} {
		font-size: 24px;
	}
}

h4 {
	font-size: 24px;
	@media #{$xs} {
		font-size: 20px;
	}
}


a {
	text-decoration: none;
	cursor: pointer;
	color: $text-dark;
	font-size: 18px;
	font-weight: 500;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

p {
	font-family: $outfit;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	position: relative;
	color: $text-gray;
	margin: 0;
}


button,
input,
textarea,
a:hover,
a:focus,
a:visited {
	text-decoration: none;
	outline: none;
	outline-width: 0 !important;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
	color: transparent;
}

img {
	display: inline-block;
	max-width: 100%;
}

i,
span,
a {
	display: inline-block;
}

ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

li {
	display: inline-block;
}

table,
th,
tr,
td {
	border: 1px solid #ddd;
}

th,
tr,
td {
	padding: 10px;
}

hr {
	border-top: 1px solid #333;
}

.fix {
	overflow: hidden;
}

.auto-container {
	position: static;
	max-width: 1200px;
	padding: 0 80px;
	margin: 0 auto;
}

/*Section Padding CSS*/

.section-padding {
	padding: 120px 0;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.section-padding {
		padding: 80px 10px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.section-padding {
		padding: 60px 30px;
	}
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	.section-padding {
		padding: 50px 35px;
	}
}

@media (max-width: 575px) {
	.section-padding {
		padding: 50px 20px;
	}
}

/*Margin & Padding */

/*Margin & Padding */

.pt-0 {
	padding-top: 0;
}

.pb-0 {
	padding-bottom: 0;
}

.pt-20 {
	padding-top: 20px;
}

.pb-20 {
	padding-bottom: 20px;
}

.pt-30 {
	padding-top: 30px;
}

.pb-30 {
	padding-bottom: 30px;
}

.pt-40 {
	padding-top: 40px;
}

.pb-40 {
	padding-bottom: 40px;
}

.pt-50 {
	padding-top: 50px;
}

.pb-50 {
	padding-bottom: 50px;
}

.pt-60 {
	padding-top: 60px;
}

.pb-60 {
	padding-bottom: 60px;
}

.pt-70 {
	padding-top: 70px;
}

.pb-70 {
	padding-bottom: 70px;
}

.pt-80 {
	padding-top: 80px;
}

.pb-80 {
	padding-bottom: 80px;
}

.pt-90 {
	padding-top: 90px;
}

.pb-90 {
	padding-bottom: 90px;
}

.pt-100 {
	padding-top: 100px;
}

.pb-100 {
	padding-bottom: 100px;
}

.pt-120 {
	padding-top: 120px;
}

.pb-120 {
	padding-bottom: 120px;
}

.pt-150 {
	padding-top: 150px;
}

.pb-150 {
	padding-bottom: 150px;
}

.pt-180 {
	padding-top: 180px;
}

.pb-180 {
	padding-bottom: 180px;
}

.mt-10 {
	margin-top: 10px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mt-15 {
	margin-top: 15px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mt-20 {
	margin-top: 20px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mt-30 {
	margin-top: 30px;
}

.mb-30 {
	margin-bottom: 30px !important;
}

.mt-40 {
	margin-top: 40px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mt-50 {
	margin-top: 50px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mt-60 {
	margin-top: 60px;
}

.mb-60 {
	margin-bottom: 60px;
}

.mt-70 {
	margin-top: 70px;
}

.mb-70 {
	margin-bottom: 70px;
}

.mt-80 {
	margin-top: 80px;
}

.mb-80 {
	margin-bottom: 80px;
}

.mt-90 {
	margin-top: 90px;
}

.mb-90 {
	margin-bottom: 90px;
}

.mt-100 {
	margin-top: 100px;
}

.mb-100 {
	margin-bottom: 100px;
}

.mt-120 {
	margin-top: 120px;
}

.mb-120 {
	margin-bottom: 120px;
}

.mt-150 {
	margin-top: 150px;
}

.ml-10 {
	margin-left: 10px;
}

.ml-20 {
	margin-left: 20px;
}

.ml-30 {
	margin-left: 30px;
}

.ml-40 {
	margin-left: 40px;
}

.ml-50 {
	margin-left: 50px;
}

.mr-10 {
	margin-right: 10px;
}

.mr-20 {
	margin-right: 20px;
}

.mr-30 {
	margin-right: 30px;
}

.mr-40 {
	margin-right: 40px;
}

.mr-50 {
	margin-right: 50px;
}

.pt-50 {
	padding-top: 50px;
}

.pb-50 {
	padding-bottom: 50px;
}

.pl-50 {
	padding-left: 50px;
}

.pr-50 {
	padding-right: 50px;
}

.pl-60 {
	padding-left: 60px;
}

.pr-60 {
	padding-right: 60px;
}

.pl-100 {
	padding-left: 100px;
}

.pr-50 {
	padding-right: 100px;
}


.ml-auto {
	margin-left: auto ! important;
}

.mr-auto {
	margin-right: auto ! important;
}

.spacer {
	margin-top: 100px;
}

/*Section Title */


.section-title {
	position: relative;
	margin-bottom: 30px;

	@media #{$xs} {
		margin-bottom: 0;
	}
}

.section-title h1 {
	font-size: 70px;
	font-weight: 400;
	line-height: 75px;
	margin: 20px 0;
	color: $text-dark;

	@media #{$lg} {
		font-size: 60px;
		line-height: 70px;
		margin: 0;
	}

	@media #{$md} {
		font-size: 50px;
		line-height: 60px;
		margin: 0;
	}

	@media #{$xs} {
		font-size: 40px;
		line-height: 50px;
		margin: 15px 0;
	}
}

.section-title h2 {
	font-size: 50px;
	font-weight: 500;
	line-height: 60px;
	margin: 20px 0;
	color: $text-dark;

	@media #{$lg} {
		font-size: 45px;
		line-height: 60px;
		margin: 0;
	}

	@media #{$md} {
		font-size: 34px;
		line-height: 40px;
	}

	@media #{$xs} {
		font-size: 30px;
		line-height: 40px;
		margin: 15px 0;
	}
}

.section-title h6 {
	color: $primary_color;
	font-size: 14px;
	line-height: 20px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	position: relative;
	padding-left: 20px;
	display: inline-block;
	@media #{$xs} {
		font-size: 15px;
		letter-spacing: 1px;
	}
	&:after{
		position: absolute;
		content: "";
		top: 50%;
		left: 0;
		width: 8px;
		height: 8px;
		background-color: $theme_color;
		border-radius: 50%;
		margin-top: -4px;
	}
}

.section-title p.text-white:after {    
    background-color: #fff;
}


/*Button Style */

.main-btn {
	display: inline-block;
	background: $theme_color;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	padding: 18px 35px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	-webkit-transition: .3s;
	transition: .3s;
	border: none;

	@media #{$lg} {
        padding: 20px 50px;
        
    }
	@media #{$md} {
        padding: 15px 40px;
        
    }
	@media #{$xs} {
        padding: 15px 40px;
        
    }
}

.main-btn:hover {
	background-color: $primary_color;
	color: #fff;
	border-color: $primary_color;
}

.bordered-btn{
	@extend .main-btn;
	background: transparent;
	color: $primary_color;
	border: 1px solid $primary_color;
}

.theme-btn-two{
	@extend .main-btn;
	background: $primary_color;
	border: 1px solid $primary_color;
	&:hover{
		background: $theme_color;
		border-color: $theme_color;
	}
}


/*Form Style CSS */

input,
textarea,
select {
	width: 100%;
	background: transparent;
	border: 1px solid #eee;
	padding: 13px 20px;
	font-size: 14px;
	letter-spacing: 1px;
	-webkit-transition: .3s;
	transition: .3s;
}

textarea {
	height: 250px;
	// resize: none;
}

input[type="submit"],
button[type="submit"] {
	border: none;
	display: inline-block;
	background: $theme_color !important;
	color: #fff;
	padding: 15px 30px;
	width: auto;
	-webkit-transition: .3s;
	transition: .3s;
	cursor: pointer;
	font-size: 15px;
	font-weight: 600;
}

input[type="submit"]:hover,
button[type="submit"]:hover {
	background: $primary_color;
	color: #fff;
}

input::placeholder,
textarea::placeholder {
	font-size: 15px;
	font-weight: 500;
	// color: #fff;
}

input.form-control {
	padding: 12px 20px;
	line-height: 1.2;
}


/*Bootstrap CSS*/

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.container{
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
}


.navbar-toggler-icon {
    background-image: none;
}

.btn:focus,.btn:active {
	outline: none !important;
	box-shadow: none;
 }


/* Bacground Color & Overlay CSS 
============== */
.dark-bg{
	background: $dark_bg;
}

.dark-bg-two{
	background: $dark_bg_two;
}

.white-bg{
	background: #fff !important;
}

.gray-bg{
	background: #F9F9FB;
}

.sky-bg{
	background: #E9F0FB;
}


.bg-cover {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
}

.overlay {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-color: #0B0D26;
	opacity: .5;
	top: 0;
	left: 0;
	z-index: -1
}

.text-white{
	color: #fff !important;
}

.text-black{
	color: $primary_color !important;
}

.fix{
	overflow: hidden;
}

/* Sticky CSS 
============== */

.header-area .is-sticky .sticky-area {
	background: #FFF;
	z-index: 999 !important;
	-webkit-animation: slideInDown .6s forwards;
	animation: slideInDown .6s forwards;
	margin-top: 0;
}

// .header-area.absolute-header .is-sticky .sticky-area {
// 	background: #10102D;
// }

// .header-area.absolute-header .is-sticky .sticky-area .main-menu li a {
// 	color: #fff;
// }

.header-area .is-sticky .navigation {
	height: 90px;
	margin-top: 0;
}

.header-area .is-sticky .main-menu li:hover .sub-menu {
	top: 90px;
}

.header-area .is-sticky .menu-trigger span {
    background: $primary_color;
}

.header-area.absolute-header .is-sticky .menu-trigger span {
    background: $primary_color;
}




/*--------------------------------------------------------------
# Search Form 
--------------------------------------------------------------*/

.search-box button {
	text-decoration: none;
	outline: none;
	outline-width: 0 !important;
	border: none;
	background: none;
	position: absolute;
	top: 32px;
	right: 10px;
	font-size: 20px;
}

.search-box button:before {
	position: absolute;
	content: "";
	top: 50%;
	left: -40px;
	height: 40px;
	border-left: 2px solid #eee;
	margin-top: -20px;
}

.search-box button:hover {
	cursor: pointer;
}

.search-popup {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

.search-popup .search-back-drop {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.search-active .search-popup {
	opacity: 1;
	visibility: visible;
}

.search-popup .search-inner {
	position: relative;
	background: #ffffff;
	padding: 40px 0 40px;
	z-index: 1;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}

.search-active .search-popup .search-inner {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.search-popup .upper-text {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 15px;
}

.search-popup .upper-text .text {
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 1px;
}

.search-popup .close-search {
	position: absolute;
	right: 0;
	top: 0;
	color: #4C4C4D;
	font-size: 18px;
	line-height: 27px;
	z-index: 3;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
	border: none;
	background: none;
}

.search-popup .form-group form {
	position: relative;
}

.search-popup .form-group {
	position: relative;
	margin: 0px;
	overflow: hidden;
	border-bottom: 1px solid #e5e5e5;
}

.search-popup .form-group input[type="text"],
.search-popup .form-group input[type="search"] {
	position: relative;
	display: block;
	font-size: 24px;
	line-height: 25px;
	color: #333333;
	padding: 10px 14px;
	height: 45px;
	width: 100%;
	background-color: transparent;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
	border: none;
	margin-bottom: 5px;
}

.search-popup .form-group input[type="submit"],
.search-popup .form-group button {
	position: absolute;
	right: 10px;
	top: 0;
	background: transparent;
	text-align: center;
	font-size: 24px;
	line-height: 45px;
	color: #333333;
	padding: 0;
	background: none;
	border: none;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}


/* Pre-Loader CSS 
============== */

#loader {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 1000;
    -webkit-transition: .3s ease opacity;
    transition: .3s ease opacity
}

#loader:before,#loader:after {
    content: "";
    width: 80px;
    height: 80px;
    border: 2px solid #fa4729;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%,-50%);
    animation-name: loaderCircleAnim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}

#loader:after {
    animation-delay: 1s
}

@keyframes loaderCircleAnim {
    0% {
        width: 0;
        height: 0;
        opacity: 0
    }

    10% {
        width: 10px;
        height: 10px;
        opacity: 1
    }

    80% {
        width: 60px;
        height: 60px;
        opacity: .1
    }

    100% {
        width: 70px;
        height: 70px;
        opacity: 0
    }
}

/* Off Canvas Menu CSS
======================*/
.menu-trigger span {
	background-color: #000;
	display: block;
	height: 2px;
	margin: 7px auto;
	margin-left: 5px;
	width: 25px;
	transition: all 0.1s;
  }

  .header-area.absolute-header .menu-trigger span {
    background: #fff;
}
  
  .menu-trigger span:nth-child(2) {
	margin-left: 0px;
  }
  
  .menu-trigger:hover span:nth-child(2) {
	margin-left: 5px;
  }
  
  .off-canvas-menu {
	position: fixed;
	top: 0;
	right: -320px;
	background: #fff;
	box-shadow: -6px -3px 16px -8px rgba(0, 0, 0, 0.25);
	width: 350px;
	padding: 50px;
	height: 100%;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
  }
  
  .off-canvas-menu.show-off-canvas-menu {
	right: 0;
	opacity: 1;
	visibility: visible;
  }
  
  .off-canvas-menu p {
	font-size: 16px;
	color: #b4afaf;
	font-weight: 400;
	position: absolute;
	bottom: 15px;
	opacity: 0.5;
  }
  
  .menu-close {
	position: absolute;
	right: 25px;
	top: 25px;
	color: #777;
	padding: 7px;
	cursor: pointer;
	font-size: 30px;
	font-weight: 300;
  }
  .menu-close:hover {
	color: #333;
  }
  
  .off-canvas-menu ul {
	padding: 0;
	margin: 0;
	list-style: none;
	margin-top: 40px;
  }
  
  .off-canvas-menu li {
	padding: 15px;
	display: block;
  }
  
  .off-canvas-menu li a {
	display: inline-block;
	color: #000;
	font-size: 18px;
	font-weight: 500;
	position: relative;
	z-index: 1;
  }
  
  .off-canvas-menu li a:before {
	position: absolute;
	content: "";
	top: 50%;
	left: -20px;
	width: 25px;
	height: 2px;
	background: #A50001;
	margin-top: 0;
	visibility: hidden;
	opacity: 0;
  }
  
  .off-canvas-menu li a:hover {
	color: #A50001;
	padding-left: 25px;
  }
  
  .off-canvas-menu li a:hover::before {
	visibility: visible;
	opacity: 1;
  }
  
  .off-canvas-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 97;
	background-size: cover;
	background-position: center;
	visibility: hidden;
	opacity: 0;
  }
  
  .off-canvas-overlay:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #000;
	opacity: 0.6;
  }
  
  .off-canvas-overlay.active {
	visibility: visible;
	opacity: 1;
  }
  
  .menu-quote {
	position: absolute;
	left: 10%;
	top: 30%;
	font-size: 48px;
	font-weight: 600;
	color: #ccc;
	width: 520px;
	padding-left: 60px;
	z-index: 999;
	font-style: italic;
  }
  
  .menu-trigger:hover {
	cursor: pointer;
  }


/*Pop up Video */

.pop-up-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
  .pop-up-video a.video-play-btn {	
	background: $theme_color;
	color: #fff;
	border: 2px solid $theme_color;
	padding: 30px;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	font-size: 30px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	cursor: pointer;
	z-index: 9;
  }
  
  @keyframes btnIconRipple {
	0% {
	  border-width: 4px;
	  -webkit-transform: scale(1);
	  transform: scale(1);
	}
	80% {
	  border-width: 1px;
	  -webkit-transform: scale(1.35);
	  transform: scale(1.35);
	}
	100% {
	  opacity: 0;
	}
  }
  .pop-up-video a::before {
	content: "";
	display: inline-block;
	position: absolute;
	top: -2px;
	left: -2px;
	bottom: -2px;
	right: -2px;
	border-radius: inherit;
	border: 1px solid #FCD1C1;
	-webkit-animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
	animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
  }
  
  // Mouse Cursor

.cursor-outer {
	margin-left: -18px;
	margin-top: -18px;
	width: 36px;
	height: 36px;
	border: 2px solid $primary_color;
	box-sizing: border-box;
	z-index: 10000000;
	opacity: 0.5;
	transition: all 0.08s ease-out;
  }
  
  .mouseCursor {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	border-radius: 50%;
	transform: translateZ(0);
	visibility: hidden;
	text-align: center;
  }
  
  .cursor-inner {
	margin-left: -3px;
	margin-top: -3px;
	width: 6px;
	height: 6px;
	z-index: 10000001;
	background-color: $theme_color;
	transition: width 0.3s ease-in-out, height 0.3s ease-in-out, margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  .cursor-inner span {
	color: #fff;
	line-height: 80px;
	opacity: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
  }
  .cursor-inner.cursor-big span {
	opacity: 1;
  }
  
  .mouseCursor.cursor-big {
	width: 80px;
	height: 80px;
  }
  
  .mouseCursor.cursor-big.cursor-outer {
	display: none;
  }
  
  .tp-cursor-point-area {
	cursor: none;
  }


/*--------------------------------------------------------------
# Off Canvas Menu
--------------------------------------------------------------*/

.extra-info {
	background: #49868C none repeat scroll 0 0;
	height: 100%;
	padding: 30px;
	position: fixed;
	right: 0;
	top: 0;
	-webkit-transition: all 0.7s ease 0s;
	-o-transition: all 0.7s ease 0s;
	transition: all 0.7s ease 0s;
	width: 350px;
	z-index: 999;
	overflow-y: scroll;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	opacity: 0;
	visibility: hidden;
}

.extra-info.active {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	opacity: 1;
	visibility: visible;
}

.close-icon {
	margin-top: -16px;
	text-align: right;
}

.close-icon > button {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: 0 none;
	cursor: pointer;
	font-size: 20px;
	padding: 0;
}

.close-icon > button i {
	color: #fff;
	font-size: 30px;
}

.side-info {
	border-top: 1px solid #45797e;
	padding-top: 25px;
}

.contact-list h4 {
	color: #fff;
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 20px;
}

.contact-list p {
	color: #fff;
	margin: 0;
	margin-bottom: 5px;
	line-height: 30px;
	font-size: 15px;
}

.contact-list p i {
	float: left;
	margin-top: 6px;
	width: 25px;
}

.contact-list p span {
	display: block;
	overflow: hidden;
}

.offcanvas-overly {
	position: fixed;
	background: #000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.offcanvas-overly.active {
	opacity: 0.5;
	visibility: visible;
}

.extra-info .site-logo-2 {
	width: 220px;
	text-align: center;
	margin-top: 20px;
}

/*--------------------------------------------------------------
# Off Canvas Menu
--------------------------------------------------------------*/

.extra-info {
	background: #0B0D26 none repeat scroll 0 0;
	height: 100%;
	padding: 30px;
	position: fixed;
	right: 0;
	top: 0;
	-webkit-transition: all 0.7s ease 0s;
	-o-transition: all 0.7s ease 0s;
	transition: all 0.7s ease 0s;
	width: 350px;
	z-index: 999;
	overflow-y: scroll;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	opacity: 0;
	visibility: hidden;
}

.extra-info.active {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	opacity: 1;
	visibility: visible;
}

.close-icon {
	margin-top: -16px;
	text-align: right;
}

.close-icon > button {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: 0 none;
	cursor: pointer;
	font-size: 20px;
	padding: 0;
}

.close-icon > button i {
	color: #fff;
	font-size: 30px;
}

.side-info {
	border-top: 1px solid #0e1244;
	padding-top: 25px;
}

.contact-list h4 {
	color: #fff;
	font-weight: 500;
	font-size: 20px;
	margin-bottom: 20px;
}

.contact-list p {
	color: #fff;
	margin: 0;
	margin-bottom: 5px;
	line-height: 30px;
	font-size: 15px;
}

.contact-list p i {
	float: left;
	margin-top: 6px;
	width: 25px;
}

.contact-list p span {
	display: block;
	overflow: hidden;
}

.offcanvas-overly {
	position: fixed;
	background: #000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.offcanvas-overly.active {
	opacity: 0.5;
	visibility: visible;
}

.extra-info .site-logo-2 {
	width: 220px;
	text-align: center;
	margin-top: 20px;
}


/*-- Search Form --*/

.search-box button {
	text-decoration: none;
	outline: none;
	outline-width: 0 !important;
	border: none;
	background: none;
	position: absolute;
	top: 32px;
	right: 10px;
	font-size: 20px;
}

.search-box button:before {
	position: absolute;
	content: "";
	top: 50%;
	left: -40px;
	height: 40px;
	border-left: 2px solid #eee;
	margin-top: -20px;
}

.search-box button:hover {
	cursor: pointer;
}

.search-popup {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

.search-popup .search-back-drop {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.search-active .search-popup {
	opacity: 1;
	visibility: visible;
}

.search-popup .search-inner {
	position: relative;
	background: #ffffff;
	padding: 25px 0 30px;
	z-index: 1;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}

.search-active .search-popup .search-inner {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.search-popup .upper-text {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 15px;
}

.search-popup .upper-text .text {
	font-size: 18px;
	letter-spacing: 1px;
}

.search-popup .close-search {
	position: absolute;
	right: 0;
	top: 0;
	color: #4C4C4D;
	font-size: 18px;
	line-height: 27px;
	z-index: 3;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
	border: none;
	background: none;
}

.search-popup .form-group form {
	position: relative;
}

.search-popup .form-group {
	position: relative;
	margin: 0px;
	overflow: hidden;
	border-bottom: 1px solid #e5e5e5;
}

.search-popup .form-group input[type="text"],
.search-popup .form-group input[type="search"] {
	position: relative;
	display: block;
	font-size: 24px;
	line-height: 25px;
	color: #333333;
	padding: 10px 14px;
	height: 45px;
	width: 100%;
	background-color: transparent;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
	border: none;
	margin-bottom: 5px;
}

.search-popup .form-group input[type="submit"],
.search-popup .form-group button {
	position: absolute;
	right: 10px;
	top: -5px;
	background: transparent !important;
	text-align: center;
	font-size: 24px;
	line-height: 45px;
	color: #333333;
	padding: 0;
	background: none;
	border: none;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}
