.footer-area {
	background: #0B0D26;
	color: #fff;
	position: relative;
	h5 {
		font-size: 22px;
		font-weight: 500;
		color: #fff;
		margin: 20px 0;
	}
	p {
		margin-top: 18px;
		color: #9BA2AD;
		font-size: 17px;
	}
	ul li a {
		font-size: 16px;
		display: block;
		color: #9BA2AD;
		padding: 10px 0;
		position: relative;
		@media #{$xs} {
			padding: 6px 0;
		}
		&:hover{
			color: #F35C27;
			padding-left: 25px;
		}
		span {
			color: #F35C27;
			font-size: 18px;
			font-weight: 600;
		}
		&:before {
			position: absolute;
			content: "";
			top: 50%;
			left: 0;
			width: 16px;
			height: 3px;
			background: #F35C27;
			visibility: hidden;
			opacity: 0;
		}
		&:hover::before {
			visibility: visible;
			opacity: 1;
		}
	}
}

.contact-info p {
	margin-bottom: 10px;
}


.subscribe-form {
	position: relative;
	button {
		padding: 18px 40px;
		font-size: 17px;
		line-height: 13px;
		background: #F35C27;
		color: #fff;
		-webkit-transition: all 0.3s ease-out 0s;
		transition: all 0.3s ease-out 0s;
		border: 0;
		cursor: pointer;
	}
	input {
		border: 0;
		background: #fff;
		&::placeholder {
			color: #797A7E;
			font-size: 16px;
		}
	}
}

.footer-up {
	padding: 80px 0;
	.social-area i {
		color: #eee;
		font-size: 20px;
		margin-right: 10px;
	}
}

.footer-bottom {
	font-size: 15px;
	font-weight: 400;
	padding: 20px 0;
	background: rgb(15 17 42);
	p {
		margin: 0;
		color: #fff;
	}
}

p.privacy {
	text-align: right;
}

.company-email a {
	color: #f6f6f6;
    font-size: 17px;
    font-weight: 400;
    text-decoration: underline;
    margin-top: 10px;
	&:hover{
		color: #fff;
	}
}

.phone-number p {
    font-size: 20px;
    color: #fff;
}