
.team-member-bg {
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 400px;
}

.team-member-bg {
	background-image: url(../img/team/1.jpg);
}

.team-bg-2 {
	background-image: url(../img/team/2.jpg);
}

.team-bg-3 {
	background-image: url(../img/team/3.jpg);
}

.team-bg-4 {
	background-image: url(../img/team/4.jpg);
}

.team-bg-5 {
	background-image: url(../img/team/5.jpg);
}

.team-bg-6 {
	background-image: url(../img/team/6.jpg);
}

.team-bg-7 {
	background-image: url(../img/team/7.jpg);
}

.team-bg-8 {
	background-image: url(../img/team/8.jpg);
}

.single-team-member {
	position: relative;
	margin-top: 25px;
	.team-content {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: #fff;
		text-align: center;
		-webkit-transition: all .3s ease-out;
		transition: all .3s ease-out;
		padding: 15px;
		.team-title {
			font-weight: 500;
			margin-bottom: -3px;
			a {
				font-size: 20px;
				font-weight: 500;
				letter-spacing: 0.3px;
				color: #191919;
				-webkit-transition: all .3s ease-out;
				transition: all .3s ease-out;
				margin: 0;
			}
			p {
				font-size: 16px;
				color: #7c7c7c;
				margin-bottom: 10px;
			}
		}
	}
}

ul.team-social {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		display: inline-block;
		a {
			font-size: 18px;
			padding: 10px;
			padding-top: 0;
			transition: all .3s ease-out;
		}
	}
}

.single-team-member:hover .team-social li a {
	color: #F35C27;
}