
// Font Family
$outfit: 'Outfit', sans-serif;


// Colors ---------------

$theme_color:#FA4729;
$primary_color:#181D4E;


$dark_bg: #0B0D26;
$dark_bg_two: #13163D;


$text-dark: #181D4E;
$text-white: #fff; 
$text-gray: #808080;



// Responsive Variables
$xl: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';



