.progress__container {
  position: relative;
  width: 100%;
  border-radius: 0 2rem 2rem 0;
  margin-bottom: 20px;
}
.progress__track {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  border-radius: inherit;
  transition: width 1s ease-in-out;
}
.progress__textbar {
  position: absolute;
  right: -4px;
  bottom: 100%;
  margin-bottom: 2px;
  border-radius: 0.2rem;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  font-weight: 400;
}
.progress__label {
  position: absolute;
  bottom: -2px;
  left: 50%;
  z-index: -10;
  height: 4px;
  width: 4px;
  transform: translateX(-50%) rotate(45deg);
  border-radius: 0.2rem;
}
