.cursor-dot,
.cursor-dot-outline {
  box-sizing: border-box;
  pointer-events: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 1;
  z-index: 20000;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cursor-dot {
  width: 6px;
  height: 6px;
  background-color: #fa4729;
}

.cursor-dot-outline {
  width: 40px;
  height: 40px;
  border: 2px solid #181d4e;
  transition: all 0.08s ease-out;
}
@media only screen and (max-width: 767px) {
  .cursor-dot,
  .cursor-dot-outline {
    display: none;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .cursor-dot,
  .cursor-dot-outline {
    display: none;
  }
}
